@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');
*{box-sizing: border-box; margin: 0; padding: 0;}
img{
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
}
body {
    font-family: "Sofadi One", system-ui;
    background-color: #B9DFE4;
}
main{
    height: 100vh;
    display: grid;
    grid-template-columns: 5rem 1fr 1fr 5rem;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}
.Freminet{
    width: 25rem;
    padding: 1rem;
    box-shadow: 0 0 10px 3px #222021;
    border-radius: 10px;
    transition: transform .5s scale .1s;
    background-color: #775b8f;
}
.FreminetPers{
    width: 50vh;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/namecard.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px 3px #222021;
    border-radius: 100px;
}
p{
    color: #ffffff;
    padding: 10px;
    border-radius: 2px;
}
a{
    display: flex;
    text-decoration: none;
    color: #423a4f;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
h3{
    color: #fff;
}
.Pers{
    width: 25rem;
    padding: 1rem;
    box-shadow: 0 0 10px 3px #222021;
    border-radius: 10px;
    transition: transform .5s scale .1s;
    background-color: #775b8f;
}